*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:pink;
   
}

.wrapper{
text-align: center;
padding-top: 3rem;
}
h2 {
    padding-left: 4rem;
    font-size: 2.3rem;
    color: rgb(152, 85, 165);
    margin-bottom: 2rem;
}
.nav{
    padding-right: 5rem;
}
.nav a {
    padding-right: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
p{
    color: white;
    font-size: 2rem;
    margin-top: 1.8rem;
}
img {
    margin: 2rem auto;

}
h4{
    margin-top: 2rem;
}